@model Tarefa

<h3>Cadatro de Tarefas</h3>
<form method="post" asp-action="Create" asp-controller="Tarefa">
   @*  @{
        if (ViewData["Mensagem"] != null)
        {
            var mensagem = ViewData["Mensagem"];
                <div>
                    <span class="text-success">@mensagem</span>
                </div>
        }
    } *@

    <div class="d-flex" style="flex-direction:column;gap:20px">   

        <input type="hidden" asp-for="@Model.Id" />
        <div class="form-group row" style="width:100%">
            <div class="col-md-2">
                <div>
                    <label asp-for="DataInicio" class="form-label"></label>
                </div>

                <div>
                    <input type="date" asp-for="DataInicio" class="form-control" />
                    <span asp-validation-for="DataInicio" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-2">
                <div>
                    <label asp-for="DataFim" class="form-label"></label>
                </div>

                <div>
                    <input type="date" asp-for="DataFim" class="form-control" />
                    <span asp-validation-for="DataFim" class="text-danger"></span>
                </div>
            </div>
        </div>
         <div class="form-group row" style="width:100%">
            <div class="col-md">
                <div>
                    <label asp-for="Descricao" class="form-label"></label>
                </div>

                <div>
                    <input type="text" asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
            </div>
         </div>
        <div class="form-group row" style="width:100%">
            <div>
                <label asp-for="CategoriaId" class="form-label"></label>
            </div>
            <div>
                <select class="form-select" asp-for="CategoriaId" asp-items="@ViewBag.Categorias" class="form-control">

                    <option value="">Selecione uma categoria</option>
                </select>

                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="width:100%">
            <div>
                <label asp-for="PrioridadeId" class="form-label"></label>
            </div>
            <div>
                <select class="form-select" asp-for="PrioridadeId" asp-items="@ViewBag.Prioridades" class="form-control">

                    <option value="">Selecione uma prioridade</option>
                </select>

                <span asp-validation-for="PrioridadeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="width:100%">
            <div>
                <label asp-for="ResponsavelId" class="form-label"></label>
            </div>
            <div>
                <select class="form-select" asp-for="@Model.ResponsavelId" asp-items="@ViewBag.Responsaveis" class="form-control">

                    <option value="">Selecione um responsável</option>
                </select>

                <span asp-validation-for="ResponsavelId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="width:100%">
            <div>
                <label asp-for="StatusId" class="form-label"></label>
            </div>
            <div>
                <select class="form-select" asp-for="StatusId" asp-items="@ViewBag.Status" class="form-control">

                    <option value="">Selecione um status</option>
                </select>

                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row" style="width:100%">
            <div class="col-md">
                <div>
                    <label asp-for="Observacao" class="form-label"></label>
                </div>

                <div>
                    <input type="text" asp-for="Observacao" class="form-control" />
                    <span asp-validation-for="Observacao" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary">Salvar</button>
        </div>
    </div>
   
    
</form>

@section Scripts{

    <script>
        const mensagem = "@ViewData["Mensagem"]";

        if (mensagem != "") {
            alert(mensagem);
        }


    </script>
}