@model IEnumerable<Tarefa>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Essa é a minha index da lista de tarefas</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Data Início</th>
            <th>Data Fim</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                <td>@item.Id</td>
                <td>@item.Descricao</td>
                <td>@item.DataInicio</td>
                <td>@item.DataFim</td>
                <td><a class="btn btn-secondary"  asp-action="Edit" asp-route-id="@item.Id">Editar</a></td>
                </tr>
            }
        }
    </tbody>
  
</table>